:host {
  position: absolute;
  border-radius: 4px;
  border: 1px solid blue;
  min-height: 50px;
  display: inline-flex;
}

.group-content {
  display: flex;

  .left-bar {
    background-color: #efefef;
    border-radius: 4px 0 0 0;
    img {
      width: 25px;
    }
  }

  .inner-content {
    font-size: 12px;
    padding: 0 10px;
    p {
      margin-top: 5px;
    }
  }
}
