.jtk-endpoint-connected {
  svg {
    circle {
      fill: #0f8842 !important;
    }
  }
}

:host {
  position: absolute;
  padding: 4px 12px;
  background-color: #b1009f;
  border-radius: 4px;
  border: 2px solid #e1e1e1;
  text-align: center;
  min-height: 10px;
  min-width: 200px;
  &:hover {
    .close {
      display: block;
    }
  }
}

.close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 2px solid #e1e1e1;
  border-radius: 37px;
  padding: 2px;
  width: 10px;
  font-size: 13px;
  cursor: pointer;
  height: 10px;
  line-height: 9px;
  background-color: #cdcdcd;
  &:hover {
    background-color: #b9b9a0;
  }
}
