/* You can add global styles to this file, and also import other style files */

.group-node {
  text-align: center;
  border-radius: 14px;
  border: 1px solid rgba(154, 154, 160, 0.747);
  box-shadow: 0 10px 40px 0 #b0c1d9;
  width: 116px;
  height: 300px;
}
