/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.jtk-endpoint-connected {
  svg {
    circle {
      fill: #b731a9 !important;
    }
  }
}
app-group {
  app-group {
    background-color: #b731a9;
    color: #fff;
    .close {
      background-color: #fff !important;
      color: #000 !important;
    }
    app-element {
      color: #000;
    }
  }
}
@-webkit-keyframes strokeAnimation {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes strokeAnimation {
  to {
    stroke-dashoffset: -1000;
  }
}

.jtk-connector.jtk-hover > :nth-child(2) {
  stroke-dasharray: 20;
  -webkit-animation: strokeAnimation 8s linear;
  animation: strokeAnimation 8s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.jtk-connector.jtk-hover + app-connector-menu {
  .add,
  .delete {
    visibility: visible !important;
  }
}
